In [1]:
import pandas as pd

In [24]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names/Alaska_all_names.csv'
df = pd.read_csv(file_path)
header = df.columns[0]
df.insert(0, 'District', header)
print(df.head())

  District   State                      Alaska
0    State  Alaska         Beistline, Ralph R.
1    State  Alaska       Burgess, Timothy Mark
2    State  Alaska      Gleason, Sharon Louise
3    State  Alaska  Holland, H[ezekiah] Russel
4    State  Alaska     Kindred, Joshua Michael

In [26]:
import os
directory_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names'
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]
for file in csv_files:
    file_path = os.path.join(directory_path, file)
    
    df = pd.read_csv(file_path)
    
    header = df.columns[0]

In [146]:
import os

folder_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names'
files_in_folder = os.listdir(folder_path)
len(files_in_folder)

98

In [151]:
directory_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names'
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]
dfs = []
for file in csv_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path)
    df = df.rename(columns={df.columns[1]: 'Names'})
    if df.empty:
        state_name = file.split('.')[0]
        df = pd.DataFrame({'State': [state_name]})
    dfs.append(df)
combined_df2 = pd.concat(dfs, ignore_index=True)
combined_df2.to_csv('New_names_districts_with_placeholders.csv', index=False)
combined_df2

                 State                      Names
0     Eastern_Oklahoma   Heil, John Frederick III
1     Eastern_Oklahoma            Payne, James H.
2     Eastern_Oklahoma         Seay, Frank Howell
3     Eastern_Oklahoma           White, Ronald A.
4              Wyoming    Freudenthal, Nancy Dell
...                ...                        ...
1082  Eastern_Arkansas        Miller, Brian Stacy
1083  Eastern_Arkansas  Moody, James Maxwell, Jr.
1084  Eastern_Arkansas       Rudofsky, Lee Philip
1085  Eastern_Arkansas          Wilson, Billy Roy
1086  Eastern_Arkansas       Wright, Susan Webber

[1087 rows x 2 columns]

In [152]:
combined_df2['State'].nunique()

95

In [143]:
directory_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names'
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]
dfs = []
for file in csv_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path)
    df = df.rename(columns={df.columns[1]: 'Names'})
    dfs.append(df)
combined_df2 = pd.concat(dfs, ignore_index=True)
print(combined_df2.head(40))
combined_df2.to_csv('New_names_districts.csv', index=False)

                     State                          Names
0         Eastern_Oklahoma       Heil, John Frederick III
1         Eastern_Oklahoma                Payne, James H.
2         Eastern_Oklahoma             Seay, Frank Howell
3         Eastern_Oklahoma               White, Ronald A.
4                  Wyoming        Freudenthal, Nancy Dell
5                  Wyoming             Johnson, Alan Bond
6                  Wyoming         Skavdahl, Scott Wesley
7         Northern_Alabama         Axon, Annemarie Carney
8         Northern_Alabama     Blackburn, Sharon Lovelace
9         Northern_Alabama               Bowdre, Karon O.
10        Northern_Alabama           Burke, Liles Clifton
11        Northern_Alabama              Coogler, L. Scott
12        Northern_Alabama       Haikala, Madeline Hughes
13        Northern_Alabama      Hopkins, Virginia Emerson
14        Northern_Alabama            Johnson, Inge Prytz
15        Northern_Alabama            Manasco, Anna Marie
16        Northern_Alabama             Maze, Corey Landon
17        Northern_Alabama              Proctor, R. David
18        Northern_Alabama    Smith, Charles Lynwood, Jr.
19  Northern West Virginia           Bailey, John Preston
20  Northern West Virginia               Groh, Gina Marie
21  Northern West Virginia  Keeley, Irene Patricia Murphy
22  Northern West Virginia            Kleeh, Thomas Shawn
23  Northern West Virginia    Stamp, Frederick Pfarr, Jr.
24        Western_New_York         Arcara, Richard Joseph
25        Western_New_York        Geraci, Frank Paul, Jr.
26        Western_New_York              Larimer, David G.
27        Western_New_York     Sinatra, John Leonard, Jr.
28        Western_New_York           Siragusa, Charles J.
29        Western_New_York            Skretny, William M.
30        Western_New_York       Vilardo, Lawrence Joseph
31        Western_New_York         Wolford, Elizabeth Ann
32    Western Pennsylvania            Ambrose, Donetta W.
33    Western Pennsylvania         Baxter, Susan Paradise
34    Western Pennsylvania                 Bissoon, Cathy
35    Western Pennsylvania               Bloch, Alan Neil
36    Western Pennsylvania              Cercone, David S.
37    Western Pennsylvania          Colville, Robert John
38    Western Pennsylvania             Conti, Joy Flowers
39    Western Pennsylvania            Fischer, Nora Barry

In [149]:
combined_df2['State'].nunique()

88

In [62]:
combined_df_sorted = combined_df.sort_values(by='State')
combined_df_sorted
combined_df_sorted['State'] = combined_df_sorted['State'].str.replace('_', ' ')
combined_df_sorted.tail(50)
combined_df_sorted.to_csv('/Users/laura.kukkonen/Documents/FinalProjectDatabases/District_All_Names_Final.csv', index=False)

In [46]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Gender/female_judges_names_all_states.csv'
df = pd.read_csv(file_path)
df = df.rename(columns={df.columns[0]: 'Female'})
df.insert(0, 'Gender', header)
print(df.head())

        Gender  Female
0  Women_names  Female
1  Women_names  Female
2  Women_names  Female
3  Women_names  Female
4  Women_names  Female

In [45]:
df = df.rename(columns={df.columns[0]: 'Gender'})
df['Gender'] = 'Female'
df

     Gender
0    Female
1    Female
2    Female
3    Female
4    Female
..      ...
744  Female
745  Female
746  Female
747  Female
748  Female

[749 rows x 1 columns]

In [48]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Gender/male_judges_names_all_states.csv'
df = pd.read_csv(file_path)
df = df.rename(columns={df.columns[0]: 'Male'})
df.insert(0, 'Gender', header)
print(df.head())

        Gender                           Male
0  Women_names          Adams, Henry Lee, Jr.
1  Women_names                 Adams, John R.
2  Women_names               Adelman, Lynn S.
3  Women_names  Aenlle-Rocha, Fernando Lazaro
4  Women_names               Africk, Lance M.

In [66]:
male_df = df.rename(columns={df.columns[0]: 'Gender'})
male_df['Gender'] = 'Male'
male_df
male_df.to_csv('Male1_names.csv', index=False)

In [153]:
state_names_df = pd.DataFrame(combined_df2)
gender_df = pd.DataFrame(male_df)
merged_df = pd.merge(state_names_df, gender_df, left_on='Names', right_on='Male', how='left')
merged_df['Gender'].fillna('Female', inplace=True)
merged_df.drop('Male', axis=1, inplace=True)
print(merged_df)
merged_df.to_csv('/Users/laura.kukkonen/Documents/FinalProjectDatabases/New_District_Names_Genders.csv', index=False)

                 State                      Names  Gender
0     Eastern_Oklahoma   Heil, John Frederick III    Male
1     Eastern_Oklahoma            Payne, James H.    Male
2     Eastern_Oklahoma         Seay, Frank Howell    Male
3     Eastern_Oklahoma           White, Ronald A.    Male
4              Wyoming    Freudenthal, Nancy Dell  Female
...                ...                        ...     ...
1082  Eastern_Arkansas        Miller, Brian Stacy    Male
1083  Eastern_Arkansas  Moody, James Maxwell, Jr.    Male
1084  Eastern_Arkansas       Rudofsky, Lee Philip    Male
1085  Eastern_Arkansas          Wilson, Billy Roy    Male
1086  Eastern_Arkansas       Wright, Susan Webber  Female

[1087 rows x 3 columns]

In [86]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Ethnicity/African_American.csv'
afam_df = pd.read_csv(file_path)
afam_df['Race or Ethnicity'] = 'African American'
afam_df.rename(columns={'African American': 'Names'}, inplace=True)
print(afam_df)
afam_df.to_csv('Afam_names.csv')

                             Names Race or Ethnicity
0               Abudu, Nancy Gbana  African American
1            Adams, Henry Lee, Jr.  African American
2    Allen, Arenda Lauretta Wright  African American
3        Alston, Rossie David, Jr.  African American
4                  Anderson, Percy  African American
..                             ...               ...
161       Wright, Wilhelmina Marie  African American
162        Wynn, James Andrew, Jr.  African American
163         Yandle, Staci Michelle  African American
164        Young, Roderick Charles  African American
165            Younge, John Milton  African American

[166 rows x 2 columns]

In [88]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Ethnicity/White.csv'
white_df = pd.read_csv(file_path)
white_df['Race or Ethnicity'] = 'White'
white_df.rename(columns={'White': 'Names'}, inplace=True)
print(white_df)
white_df.to_csv('white_names.csv')

                       Names Race or Ethnicity
0             Abrams, Ronnie             White
1             Adams, John R.             White
2           Adelman, Lynn S.             White
3           Africk, Lance M.             White
4            Agee, G. Steven             White
...                      ...               ...
1069    Zilly, Thomas Samuel             White
1070  Zipps, Jennifer Guerin             White
1071       Zloch, William J.             White
1072     Zobel, Rya Weickert             White
1073           Zouhary, Jack             White

[1074 rows x 2 columns]

In [90]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Ethnicity/American_Indian.csv'
indig_df = pd.read_csv(file_path)
indig_df['Race or Ethnicity'] = 'Indigenous American'
indig_df.rename(columns={'American Indian': 'Names'}, inplace=True)
print(indig_df)
indig_df.to_csv('indigenous_names.csv')

                     Names    Race or Ethnicity
0    Humetewa, Diane Joyce  Indigenous American
1    King, Lauren Jennifer  Indigenous American
2       Seay, Frank Howell  Indigenous American
3  Sykes, Sunshine Suzanne  Indigenous American

In [91]:
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Ethnicity/Hispanic.csv'
hisp_df = pd.read_csv(file_path)
hisp_df['Race or Ethnicity'] = 'Hispanic'
hisp_df.rename(columns={'Hispanic': 'Names'}, inplace=True)
print(hisp_df)
hisp_df.to_csv('hispanic_names.csv')

                             Names Race or Ethnicity
0    Aenlle-Rocha, Fernando Lazaro          Hispanic
1         Almadani, Monica Ramirez          Hispanic
2               Alonso, Jorge Luis          Hispanic
3               Altman, Roy Kalman          Hispanic
4             Altonaga, Cecilia M.          Hispanic
..                             ...               ...
103         VÃ¡zquez, Martha Alicia          Hispanic
104    VÃ©lez-RivÃ©, Camille Lizette          Hispanic
105             Vera, HernÃ¡n Diego          Hispanic
106            Wardlaw, Kim McLane          Hispanic
107               Zapata, Frank R.          Hispanic

[108 rows x 2 columns]

In [96]:
directory_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/Race or ethnicity'
csv_files = [file for file in os.listdir(directory_path) if file.endswith('.csv')]
dfs = []
for file in csv_files:
    file_path = os.path.join(directory_path, file)
    df = pd.read_csv(file_path)
    dfs.append(df)
combined_df = pd.concat(dfs, ignore_index=True)
combined_df = combined_df.loc[:, ~combined_df.columns.str.contains('^Unnamed')]
print(combined_df.tail(40))
combined_df.to_csv('/Users/laura.kukkonen/Documents/FinalProjectDatabases/All_ethnicities.csv', index=False)

                           Names Race or Ethnicity
1312    Russell, George Levi III  African American
1313       Sands, W[illie] Louis  African American
1314           Scott, Kai Niambi  African American
1315       Scriven, Mary Stenson  African American
1316           Semper, Jamel Ken  African American
1317        Shipp, Michael Andre  African American
1318  Simmons, James Edward, Jr.  African American
1319     Slaughter, Fred Wallace  African American
1320          Smith, Lavenski R.  African American
1321               Smith, Rodney  African American
1322            Stewart, Carl E.  African American
1323          Sullivan, Emmet G.  African American
1324         Swain, Laura Taylor  African American
1325            Thomas, Clarence  African American
1326       Thomas, Holly Aiyisha  African American
1327          Thompson, Alvin W.  African American
1328        Thompson, Anne Elise  African American
1329     Thompson, Myron Herbert  African American
1330   Thompson, Ojetta Rogeriee  African American
1331        Thompson, Trina Lynn  African American
1332          Tucker, Petrese B.  African American
1333      Walker, Jamar Kentrell  African American
1334           Walton, Reggie B.  African American
1335           White, Ronnie Lee  African American
1336     Whitehead, Jamal Norman  African American
1337       Wigenton, Susan Davis  African American
1338        Wilkins, Robert Leon  African American
1339     Williams, Gregory Brian  African American
1340   Williams, Karen McGlashan  African American
1341          Wilson, Charles R.  African American
1342         Wimes, Brian Curtis  African American
1343   Wingate, Henry Travillion  African American
1344          Wood, Andrea Robin  African American
1345   Woods, Gregory Howard III  African American
1346          Wright, Otis D. II  African American
1347    Wright, Wilhelmina Marie  African American
1348     Wynn, James Andrew, Jr.  African American
1349      Yandle, Staci Michelle  African American
1350     Young, Roderick Charles  African American
1351         Younge, John Milton  African American

In [155]:
df11 = pd.DataFrame(merged_df)
df12 = pd.DataFrame(combined_df)
gender_race_df = pd.merge(df11, df12, on='Names', how='left')
columns_order = ['State', 'Names', 'Gender', 'Race and Ethnicity']
gender_race_df = gender_race_df[columns_order]
gender_race_df.tail(80)
gender_race_df.to_csv('New_All_gender_race_district_names.csv', index=False)

                  State                         Names  Gender  \
1007       Rhode Island                 Lisi, Mary M.  Female
1008       Rhode Island    McConnell, John James, Jr.    Male
1009       Rhode Island           McElroy, Mary Susan  Female
1010       Rhode Island             Smith, William E.    Male
1011  Eastern Tennessee  Atchley, Charles Edward, Jr.    Male
...                 ...                           ...     ...
1082   Eastern_Arkansas           Miller, Brian Stacy    Male
1083   Eastern_Arkansas     Moody, James Maxwell, Jr.    Male
1084   Eastern_Arkansas          Rudofsky, Lee Philip    Male
1085   Eastern_Arkansas             Wilson, Billy Roy    Male
1086   Eastern_Arkansas          Wright, Susan Webber  Female

     Race and Ethnicity
1007              White
1008              White
1009              White
1010              White
1011              White
...                 ...
1082   African American
1083              White
1084              White
1085              White
1086              White

[80 rows x 4 columns]

In [156]:
gender_race_df['State'].nunique()

95

In [113]:
gender_race_df['Race and Ethnicity'].value_counts().get('Hispanic', 0)

82

In [114]:
gender_race_df['Gender'].value_counts().get('Female', 0)

344

In [118]:
gender_race_df['Race and Ethnicity'].value_counts().get('NaN', 0)

0

In [120]:
gender_race_df['Race and Ethnicity'].isnull().sum()

59

In [139]:
gender_race_df['State'].nunique()

88

In [159]:
grouped = gender_race_df.groupby('State')[['Gender', 'Race and Ethnicity']].value_counts().reset_index(name='Count')
desired_values = ['Female', 'African American', 'Hispanic', 'Indigenous American']
filtered_counts = grouped[grouped['Race and Ethnicity'].isin(desired_values) | grouped['Gender'].isin(desired_values)]

print(filtered_counts.head(50))

                     State  Gender   Race and Ethnicity  Count
1                   Alaska  Female                White      1
3                  Arizona  Female                White      5
4                  Arizona    Male     African American      2
5                  Arizona  Female             Hispanic      1
6                  Arizona  Female  Indigenous American      1
7                  Arizona    Male             Hispanic      1
9       Central_California  Female                White      5
10      Central_California    Male     African American      5
11      Central_California    Male             Hispanic      5
12      Central_California  Female     African American      3
13      Central_California  Female             Hispanic      1
14      Central_California  Female  Indigenous American      1
15        Central_Illinois  Female                White      3
17        Central_Illinois    Male     African American      1
19                Colorado  Female                White      2
20                Colorado  Female             Hispanic      1
21                Colorado    Male     African American      1
22                Colorado    Male             Hispanic      1
24             Connecticut    Male     African American      3
25             Connecticut  Female                White      3
26             Connecticut  Female     African American      1
28              D_Columbia  Female                White      7
29              D_Columbia    Male     African American      5
30              D_Columbia  Female     African American      2
31              D_Columbia  Female             Hispanic      1
32              D_Columbia    Male             Hispanic      1
34                Delaware  Female                White      2
35                Delaware    Male     African American      1
37  Eastern North Carolina  Female                White      1
39    Eastern Pennsylvania  Female                White      4
40    Eastern Pennsylvania  Female     African American      3
41    Eastern Pennsylvania    Male     African American      3
42    Eastern Pennsylvania    Male             Hispanic      1
43    Eastern Pennsylvania  Female             Hispanic      1
45       Eastern Tennessee  Female                White      1
46       Eastern Tennessee    Male     African American      1
48           Eastern Texas  Female                White      1
50        Eastern Virginia    Male     African American      4
51        Eastern Virginia  Female                White      4
52        Eastern Virginia  Female     African American      2
54      Eastern Washington  Female                White      2
56       Eastern Wisconsin  Female                White      1
58        Eastern_Arkansas  Female                White      2
59        Eastern_Arkansas    Male     African American      1
61      Eastern_California    Male     African American      3
62      Eastern_California  Female                White      2
63      Eastern_California    Male             Hispanic      1
65        Eastern_Kentucky  Female                White      2
67       Eastern_Louisiana  Female                White      6
68       Eastern_Louisiana    Male     African American      2

In [161]:
filtered_counts['State'].nunique()

86

In [162]:
gender_race_df.tail(80)

,State,Names,Gender,Race and Ethnicity
1007,Rhode Island,"Lisi, Mary M.",Female,White
1008,Rhode Island,"McConnell, John James, Jr.",Male,White
1009,Rhode Island,"McElroy, Mary Susan",Female,White
1010,Rhode Island,"Smith, William E.",Male,White
1011,Eastern Tennessee,"Atchley, Charles Edward, Jr.",Male,White
...,...,...,...,...
1082,Eastern_Arkansas,"Miller, Brian Stacy",Male,African American
1083,Eastern_Arkansas,"Moody, James Maxwell, Jr.",Male,White
1084,Eastern_Arkansas,"Rudofsky, Lee Philip",Male,White
1085,Eastern_Arkansas,"Wilson, Billy Roy",Male,White
1086,Eastern_Arkansas,"Wright, Susan Webber",Female,White

In [163]:
grouped3 = gender_race_df.groupby('State').agg(
    Number_of_female_judges=('Names', lambda x: (x == 'Female').sum()),
).reset_index()
grouped3

,State,Number_of_judges,Hispanic_judges,African_American_judges,Indigenous_judges
0,Alaska,7,0,0,0
1,Arizona,24,2,2,1
2,Central_California,37,6,8,1
3,Central_Illinois,7,0,1,0
4,Colorado,14,2,1,0
...,...,...,...,...,...
90,Western_New_Jersey,0,0,0,0
91,Western_New_York,8,0,0,0
92,Western_Oklahoma,15,0,2,0
93,Western_South_Carolina,0,0,0,0
94,Wyoming,3,0,0,0

In [167]:
grouped['Sentence'] = grouped.apply(
    lambda row: f"Number of judges: {row['Number_of_judges']}, African American: {row['African_American_judges']}, Indigenous: {row['Indigenous_judges']}, Hispanic: {row['Hispanic_judges']}" if (row['African_American_judges'] > 0 or row['Indigenous_judges'] > 0 or row['Hispanic_judges'] > 0) else f"Number of judges: {row['Number_of_judges']}",
    axis=1
)
grouped.head(94)
grouped.sort_values(by='Number_of_judges', ascending=False)

,State,Number_of_judges,Hispanic_judges,African_American_judges,Indigenous_judges,Sentence
74,Southern_New_York,46,3,5,0,"Number of judges: 46, African American: 5, Ind..."
2,Central_California,37,6,8,1,"Number of judges: 37, African American: 8, Ind..."
53,Northern_Illinois,37,3,7,0,"Number of judges: 37, African American: 7, Ind..."
9,Eastern Pennsylvania,36,2,6,0,"Number of judges: 36, African American: 6, Ind..."
23,Eastern_New_York,31,3,5,0,"Number of judges: 31, African American: 5, Ind..."
...,...,...,...,...,...,...
17,Eastern_Illinois_all_names,0,0,0,0,Number of judges: 0
43,New_Bern_Wilmington_NorthCarolina,0,0,0,0,Number of judges: 0
90,Western_New_Jersey,0,0,0,0,Number of judges: 0
61,Orleans_names,0,0,0,0,Number of judges: 0
93,Western_South_Carolina,0,0,0,0,Number of judges: 0

In [177]:
grouped2.to_csv('New_Districts_Ethnic_Sentence.csv', index=False)

In [173]:
grouped2 = grouped.applymap(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)

/var/folders/wc/9pxlbshj22d2nn6vztv8z6z40000gq/T/ipykernel_80659/4000069161.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  grouped2 = grouped.applymap(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)

In [337]:
grouped2

,State,Number of judges,Hispanic judges,African American judges,Indigenous judges,Sentence
0,Alaska,7,0,0,0,Number of judges: 7
1,Arizona,24,2,2,1,"Number of judges: 24, African American: 2, Ind..."
2,Central California,37,6,8,1,"Number of judges: 37, African American: 8, Ind..."
3,Central Illinois,7,0,1,0,"Number of judges: 7, African American: 1, Indi..."
4,Colorado,14,2,1,0,"Number of judges: 14, African American: 1, Ind..."
...,...,...,...,...,...,...
90,Western New Jersey,0,0,0,0,Number of judges: 0
91,Western New York,8,0,0,0,Number of judges: 8
92,Western Oklahoma,15,0,2,0,"Number of judges: 15, African American: 2, Ind..."
93,Western South Carolina,0,0,0,0,Number of judges: 0
94,Wyoming,3,0,0,0,Number of judges: 3

In [ ]:
grouped2['Gender'] = grouped2.apply(
    lambda row: f"Number of female judges: {row['Female']}" if (row['Female'] > 0,
    axis=1
)
grouped2.head(94)
grouped2.sort_values(by='Number_of_judges', ascending=False)

In [188]:
grouped3 = gender_race_df.groupby('State').agg(
    Number_of_female_judges=('Gender', lambda x: (x == 'Female').sum()),
).reset_index()
grouped3

                     State  Number_of_female_judges
0                   Alaska                        1
1                  Arizona                        7
2       Central_California                       12
3         Central_Illinois                        3
4                 Colorado                        5
..                     ...                      ...
90      Western_New_Jersey                        1
91        Western_New_York                        1
92        Western_Oklahoma                        3
93  Western_South_Carolina                        1
94                 Wyoming                        1

[95 rows x 2 columns]

In [189]:
grouped3['Gender'] = grouped3.apply(
    lambda row: f"Number of female judges: {row['Number_of_female_judges']}" if (row['Number_of_female_judges'] > 0) else f"No female judges",
    axis=1
)
grouped3.head(94)
grouped3.sort_values(by='Number_of_female_judges', ascending=False)

                  State  Number_of_female_judges                       Gender
23     Eastern_New_York                       18  Number of female judges: 18
74    Southern_New_York                       17  Number of female judges: 17
53    Northern_Illinois                       14  Number of female judges: 14
2    Central_California                       12  Number of female judges: 12
50  Northern_California                       11  Number of female judges: 11
..                  ...                      ...                          ...
64         South Dakota                        1   Number of female judges: 1
94              Wyoming                        1   Number of female judges: 1
41             Nebraska                        0             No female judges
24     Eastern_Oklahoma                        0             No female judges
46         North Dakota                        0             No female judges

[95 rows x 3 columns]

In [190]:
grouped3 = grouped3.applymap(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)

/var/folders/wc/9pxlbshj22d2nn6vztv8z6z40000gq/T/ipykernel_80659/2579525231.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  grouped3 = grouped3.applymap(lambda x: x.replace('_', ' ') if isinstance(x, str) else x)

In [191]:
grouped3

,State,Number_of_female_judges,Gender
0,Alaska,1,Number of female judges: 1
1,Arizona,7,Number of female judges: 7
2,Central California,12,Number of female judges: 12
3,Central Illinois,3,Number of female judges: 3
4,Colorado,5,Number of female judges: 5
...,...,...,...
90,Western New Jersey,1,Number of female judges: 1
91,Western New York,1,Number of female judges: 1
92,Western Oklahoma,3,Number of female judges: 3
93,Western South Carolina,1,Number of female judges: 1
94,Wyoming,1,Number of female judges: 1

In [192]:
grouped3.to_csv('All_Districts_Female_Judges_count.csv', index=False)

In [250]:
more_grouped = gender_race_df.groupby('State').agg(
    Total_Judges=('Names', 'count'),
    Female_Judges=('Gender', lambda x: (x == 'Female').sum()),
    White_Judges=('Race and Ethnicity', lambda x: (x == 'White').sum())
)
more_grouped['Percentage_Female_Judges'] = round((more_grouped['Female_Judges'] / more_grouped['Total_Judges']) * 100)
more_grouped['Percentage_White_Judges'] = round((more_grouped['White_Judges'] / more_grouped['Total_Judges']) * 100)

Index(['Total_Judges', 'Female_Judges', 'White_Judges',
       'Percentage_Female_Judges', 'Percentage_White_Judges'],
      dtype='object')

In [258]:
female_perc_df = female_perc_df.reset_index(drop=True)
female_perc_df.columns

Index(['level_0', 'index', 'State', 'Total_Judges', 'Female_Judges',
       'White_Judges', 'Percentage_Female_Judges', 'Percentage_White_Judges',
       'Gender'],
      dtype='object')

In [254]:
female_perc_df.to_csv('All_Districts_Female_White_judges_percentage.csv', index=False)

In [265]:
female_perc_df['Gender'] = female_perc_df.apply(
    lambda row: f"{row['State']}, Share of female judges: {row['Percentage_Female_Judges']}%, Share of white judges: {row['Percentage_White_Judges']}" if (row['Total_Judges'] > 0) else f"No judges",
    axis=1
)
female_perc_df.head(94)
female_perc_df.sort_values(by='Percentage_Female_Judges', ascending=True)
# Replace underscores with spaces in the index (State column)
#female_perc_df.index = female_perc_df.index.str.replace('_', ' ')
female_perc_df

,level_0,index,State,Total_Judges,Female_Judges,White_Judges,Percentage_Female_Judges,Percentage_White_Judges,Gender
0,0,0,Nebraska,5,0,5,0.0,100.0,"Nebraska, Share of female judges: 0.0%, Share ..."
1,1,1,Eastern Oklahoma,4,0,3,0.0,75.0,"Eastern Oklahoma, Share of female judges: 0.0%..."
2,2,2,North Dakota,4,0,4,0.0,100.0,"North Dakota, Share of female judges: 0.0%, Sh..."
3,3,3,Middle Louisiana,11,1,11,9.0,100.0,"Middle Louisiana, Share of female judges: 9.0%..."
4,4,4,Western Louisiana,11,1,11,9.0,100.0,"Western Louisiana, Share of female judges: 9.0..."
...,...,...,...,...,...,...,...,...,...
90,90,90,Western South Carolina,0,1,0,inf,NaN,No judges
91,91,91,Eastern Illinois all names,0,1,0,inf,NaN,No judges
92,92,92,Eastern New Jersey,0,1,0,inf,NaN,No judges
93,93,93,Western New Jersey,0,1,0,inf,NaN,No judges
94,94,94,New Bern Wilmington NorthCarolina,0,1,0,inf,NaN,No judges

# We notice that there is something weird in New Jersey, South Carolina, Eastern Illinois, North Carolina.
 We checked and we have to work the judges of New Jersey and South Carolina inside this mess.

In [270]:
file_path = 'New_Jersey.csv'
new_jersey_df = pd.read_csv(file_path)
current_column_name = new_jersey_df.columns[0]
new_jersey_df['State'] = current_column_name

In [274]:
desired_column_order = ['State', 'New Jersey']
new_new_j_df = new_jersey_df[desired_column_order]
new_new_j_df
new_new_j_df.to_csv('New_Jersey_new.csv', index=False)

In [278]:
file_path = 'South_Carolina.csv'
south_carolina_df = pd.read_csv(file_path)
current_column_name = south_carolina_df.columns[0]
south_carolina_df['State'] = current_column_name

In [281]:
desired_column_order = ['State', 'South Carolina']
new_south_carolina_df = south_carolina_df[desired_column_order]
new_south_carolina_df
new_south_carolina_df.to_csv('South_Carolina_new.csv', index=False)

In [285]:
new_new_j_df = new_new_j_df.rename(columns={'New Jersey': 'Names'})
new_new_j_df
new_new_j_df.to_csv('New_Jersey_new.csv', index=False)

In [287]:
new_south_carolina_df = new_south_carolina_df.rename(columns={'South Carolina': 'Names'})
new_south_carolina_df
new_south_carolina_df.to_csv('South_Carolina_new.csv', index=False)

In [292]:
df21 = pd.read_csv('New_Jersey_new.csv')
df22 = pd.read_csv('South_Carolina_new.csv')
nj_sc_combined_df = pd.merge(df21, df22, on=['State', 'Names'], how='outer')
nj_sc_combined_df
nj_sc_combined_df.to_csv('South_Carolina_New_Jersey_names.csv', index=False)

In [ ]:
#Now we try to bring the ethnicity info of New Jersey and South Carolina.

In [297]:
existing_df = pd.read_csv('South_Carolina_New_Jersey_names.csv')
ethnicity_files = ['African_American.csv', 'American_Indian.csv', 'Hispanic.csv', 'White.csv']
for file in ethnicity_files:
    ethnicity_df = pd.read_csv(file, header=None, names=['Ethnicity'])
    existing_df[file.split('.')[0]] = existing_df['Names'].where(existing_df['Names'].isin(ethnicity_df['Ethnicity']), None)
existing_df.to_csv('Is_this_correct.csv', index=False)

In [308]:
ethn_nj_sc_df = pd.DataFrame(existing_df)
def get_ethnicity(row):
    ethnicity_columns = ['African_American', 'American_Indian', 'Hispanic', 'White']
    for col in ethnicity_columns:
        if row[col]:
            return col.replace('_', ' ')

ethn_nj_sc_df['Race and Ethnicity'] = ethn_nj_sc_df.apply(get_ethnicity, axis=1)
#ethn_nj_sc_df

In [307]:
selected_columns = ['State', 'Names', 'Race and Ethnicity']
new_jersey_south_carolina_df = ethn_nj_sc_df[selected_columns]
new_jersey_south_carolina_df.to_csv('new_jersey_south_carolina_eth.csv', index=False)

In [309]:
new_jersey_south_carolina_df

             State                           Names Race and Ethnicity
0       New Jersey             Arleo, Madeline Cox              White
1       New Jersey               Bumb, RenÃ©e Marie              White
2       New Jersey              Castner, Georgette              White
3       New Jersey          Cecchi, Claire Claudia              White
4       New Jersey             Chesler, Stanley R.              White
5       New Jersey             Cooper, Mary Little              White
6       New Jersey          Farbiarz, Michael Etan              White
7       New Jersey       Hayden, Katharine Sweeney              White
8       New Jersey          Hillman, Noel Lawrence              White
9       New Jersey           Kirsch, Robert Andrew              White
10      New Jersey               Kugler, Robert B.              White
11      New Jersey             Martini, William J.              White
12      New Jersey            Martinotti, Brian R.              White
13      New Jersey                  McNulty, Kevin              White
14      New Jersey            Neals, Julien Xavier   African American
15      New Jersey     O'Hearn, Christine Patricia              White
16      New Jersey                   Padin, Evelyn           Hispanic
17      New Jersey           Quraishi, Zahid Nisar               None
18      New Jersey            Rodriguez, Joseph H.           Hispanic
19      New Jersey                   Salas, Esther           Hispanic
20      New Jersey               Semper, Jamel Ken   African American
21      New Jersey              Sheridan, Peter G.              White
22      New Jersey            Shipp, Michael Andre   African American
23      New Jersey            Thompson, Anne Elise   African American
24      New Jersey           Wigenton, Susan Davis   African American
25      New Jersey       Williams, Karen McGlashan   African American
26  South Carolina  Anderson, Joseph Fletcher, Jr.              White
27  South Carolina            Cain, Timothy Martin              White
28  South Carolina      Coggins, Donald Cecil, Jr.              White
29  South Carolina         Currie, Cameron McGowan              White
30  South Carolina              Dawson, Joseph III   African American
31  South Carolina            Gergel, Richard Mark              White
32  South Carolina           Harwell, Robert Bryan              White
33  South Carolina           Hendricks, Bruce Howe              White
34  South Carolina     Herlong, Henry Michael, Jr.              White
35  South Carolina              Lewis, Mary Geiger              White
36  South Carolina             Lydon, Sherri Allen              White
37  South Carolina                Norton, David C.              White
38  South Carolina                Wooten, Terry L.              White

In [319]:
#Now bring the gender to New Jersey and South Carolina
new_jersey_south_carolina_df = pd.read_csv('new_jersey_south_carolina_eth.csv')
male_names = pd.read_csv('Male_names.csv')
merged_data2 = pd.merge(new_jersey_south_carolina_df, male_names, left_on='Names', right_on='Male', how='left')
merged_data2['Gender'].fillna('Female', inplace=True)
merged_data2

,State,Names,Race and Ethnicity,Gender,Male
0,New Jersey,"Arleo, Madeline Cox",White,Female,NaN
1,New Jersey,"Bumb, RenÃ©e Marie",White,Female,NaN
2,New Jersey,"Castner, Georgette",White,Female,NaN
3,New Jersey,"Cecchi, Claire Claudia",White,Female,NaN
4,New Jersey,"Chesler, Stanley R.",White,Male,"Chesler, Stanley R."
5,New Jersey,"Cooper, Mary Little",White,Female,NaN
6,New Jersey,"Farbiarz, Michael Etan",White,Male,"Farbiarz, Michael Etan"
7,New Jersey,"Hayden, Katharine Sweeney",White,Female,NaN
8,New Jersey,"Hillman, Noel Lawrence",White,Male,"Hillman, Noel Lawrence"
9,New Jersey,"Kirsch, Robert Andrew",White,Male,"Kirsch, Robert Andrew"
10,New Jersey,"Kugler, Robert B.",White,Male,"Kugler, Robert B."
11,New Jersey,"Martini, William J.",White,Male,"Martini, William J."
12,New Jersey,"Martinotti, Brian R.",White,Male,"Martinotti, Brian R."
13,New Jersey,"McNulty, Kevin",White,Male,"McNulty, Kevin"
14,New Jersey,"Neals, Julien Xavier",African American,Male,"Neals, Julien Xavier"
15,New Jersey,"O'Hearn, Christine Patricia",White,Female,NaN
16,New Jersey,"Padin, Evelyn",Hispanic,Female,NaN
17,New Jersey,"Quraishi, Zahid Nisar",NaN,Male,"Quraishi, Zahid Nisar"
18,New Jersey,"Rodriguez, Joseph H.",Hispanic,Male,"Rodriguez, Joseph H."
19,New Jersey,"Salas, Esther",Hispanic,Female,NaN
20,New Jersey,"Semper, Jamel Ken",African American,Male,"Semper, Jamel Ken"
21,New Jersey,"Sheridan, Peter G.",White,Male,"Sheridan, Peter G."
22,New Jersey,"Shipp, Michael Andre",African American,Male,"Shipp, Michael Andre"
23,New Jersey,"Thompson, Anne Elise",African American,Female,NaN
24,New Jersey,"Wigenton, Susan Davis",African American,Female,NaN
25,New Jersey,"Williams, Karen McGlashan",African American,Female,NaN
26,South Carolina,"Anderson, Joseph Fletcher, Jr.",White,Male,"Anderson, Joseph Fletcher, Jr."
27,South Carolina,"Cain, Timothy Martin",White,Male,"Cain, Timothy Martin"
28,South Carolina,"Coggins, Donald Cecil, Jr.",White,Male,"Coggins, Donald Cecil, Jr."
29,South Carolina,"Currie, Cameron McGowan",White,Female,NaN
30,South Carolina,"Dawson, Joseph III",African American,Male,"Dawson, Joseph III"
31,South Carolina,"Gergel, Richard Mark",White,Male,"Gergel, Richard Mark"
32,South Carolina,"Harwell, Robert Bryan",White,Male,"Harwell, Robert Bryan"
33,South Carolina,"Hendricks, Bruce Howe",White,Female,NaN
34,South Carolina,"Herlong, Henry Michael, Jr.",White,Male,"Herlong, Henry Michael, Jr."
35,South Carolina,"Lewis, Mary Geiger",White,Female,NaN
36,South Carolina,"Lydon, Sherri Allen",White,Female,NaN
37,South Carolina,"Norton, David C.",White,Male,"Norton, David C."
38,South Carolina,"Wooten, Terry L.",White,Male,"Wooten, Terry L."

In [321]:
selected_columns2 = ['State', 'Names', 'Race and Ethnicity', 'Gender']
nj_sc_ethnic_gender_df = merged_data2[selected_columns2]
nj_sc_ethnic_gender_df
nj_sc_ethnic_gender_df.to_csv('new_j_south_c_eth_gender.csv', index=False)

In [322]:
grouped_data_nj_sc = nj_sc_ethnic_gender_df.groupby('State').agg(
    Female_Count=('Gender', lambda x: (x == 'Female').sum()),
    Hispanic_Count=('Race and Ethnicity', lambda x: (x == 'Hispanic').sum()),
    African_American_Count=('Race and Ethnicity', lambda x: (x == 'African American').sum()),
    American_Indian_Count=('Race and Ethnicity', lambda x: (x == 'American Indian').sum()),
    White_Count=('Race and Ethnicity', lambda x: (x == 'White').sum()),
    Total_Judges=('Names', 'count')
)
grouped_data_nj_sc

,Female_Count,Hispanic_Count,African_American_Count,American_Indian_Count,White_Count,Total_Judges
State,,,,,,
New Jersey,12,3,6,0,16,26
South Carolina,4,0,1,0,12,13

In [333]:
grouped_data_nj_sc['Total_Judges'] = grouped_data_nj_sc['Total_Judges'].astype(int)
grouped_data_nj_sc['Sentence'] = grouped_data_nj_sc.apply(
    lambda row: f"Number of judges: {row['Total_Judges']}, African American: {row['African_American_Count']}, Hispanic: {row['Hispanic_Count']}" if (row['African_American_Count'] > 0 or row['Hispanic_Count'] > 0) else f"Number of judges: {row['Total_Judges']}",
    axis=1
)
grouped_data_nj_sc = grouped_data_nj_sc.sort_values(by='Total_Judges', ascending=False)
grouped_data_nj_sc.reset_index(inplace=True)
grouped_data_nj_sc

,level_0,index,State,Female_Count,Hispanic_Count,African_American_Count,American_Indian_Count,White_Count,Total_Judges,Female_Percentage,White_Percentage,Sentence
0,0,0,New Jersey,12,3,6,0,16,26,46.0,62.0,"Number of judges: 26, African American: 6, His..."
1,1,1,South Carolina,4,0,1,0,12,13,31.0,92.0,"Number of judges: 13, African American: 1, His..."

In [334]:
grouped_data_nj_sc.to_csv('new_j_south_c_sentence.csv', index=False)

In [336]:
grouped_data_nj_sc['Gender_sentence'] = grouped_data_nj_sc.apply(
    lambda row: f"{row['State']}, Share of female judges: {row['Female_Percentage']}%, Share of white judges: {row['White_Percentage']}" if (row['Total_Judges'] > 0) else f"No judges",
    axis=1
)
grouped_data_nj_sc.head(94)
#grouped_data_nj_sc.sort_values(by='Female_Percentage', ascending=True)
# Replace underscores with spaces in the index (State column)
#female_perc_df.index = female_perc_df.index.str.replace('_', ' ')
grouped_data_nj_sc

,level_0,index,State,Female_Count,Hispanic_Count,African_American_Count,American_Indian_Count,White_Count,Total_Judges,Female_Percentage,White_Percentage,Sentence,Gender_sentence
0,0,0,New Jersey,12,3,6,0,16,26,46.0,62.0,"Number of judges: 26, African American: 6, His...","New Jersey, Share of female judges: 46.0%, Sha..."
1,1,1,South Carolina,4,0,1,0,12,13,31.0,92.0,"Number of judges: 13, African American: 1, His...","South Carolina, Share of female judges: 31.0%,..."

In [339]:
#Joining female_perc_df and grouped2 to have only the sentences.
df31 = pd.DataFrame(female_perc_df)
df32 = pd.DataFrame(grouped2)
all_new_merged_df = pd.merge(df31, df32, on='State', how='inner')  # Change 'how' parameter as needed (inner, outer, left, right)
all_new_merged_df

,level_0,index,State,Total_Judges,Female_Judges,White_Judges,Percentage_Female_Judges,Percentage_White_Judges,Gender,Number of judges,Hispanic judges,African American judges,Indigenous judges,Sentence
0,0,0,Nebraska,5,0,5,0.0,100.0,"Nebraska, Share of female judges: 0.0%, Share ...",5,0,0,0,Number of judges: 5
1,1,1,Eastern Oklahoma,4,0,3,0.0,75.0,"Eastern Oklahoma, Share of female judges: 0.0%...",4,0,0,1,"Number of judges: 4, African American: 0, Indi..."
2,2,2,North Dakota,4,0,4,0.0,100.0,"North Dakota, Share of female judges: 0.0%, Sh...",4,0,0,0,Number of judges: 4
3,3,3,Middle Louisiana,11,1,11,9.0,100.0,"Middle Louisiana, Share of female judges: 9.0%...",11,0,0,0,Number of judges: 11
4,4,4,Western Louisiana,11,1,11,9.0,100.0,"Western Louisiana, Share of female judges: 9.0...",11,0,0,0,Number of judges: 11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,90,90,Western South Carolina,0,1,0,inf,NaN,No judges,0,0,0,0,Number of judges: 0
91,91,91,Eastern Illinois all names,0,1,0,inf,NaN,No judges,0,0,0,0,Number of judges: 0
92,92,92,Eastern New Jersey,0,1,0,inf,NaN,No judges,0,0,0,0,Number of judges: 0
93,93,93,Western New Jersey,0,1,0,inf,NaN,No judges,0,0,0,0,Number of judges: 0
94,94,94,New Bern Wilmington NorthCarolina,0,1,0,inf,NaN,No judges,0,0,0,0,Number of judges: 0

In [343]:
selected_columns3 = ['State', 'Gender', 'Sentence', 'Percentage_Female_Judges',	'Percentage_White_Judges']
all_sentence_gender_df = all_new_merged_df[selected_columns3]
all_sentence_gender_df.head(40)
all_sentence_gender_df.to_csv('all_sentence_gender.csv', index=False)

In [344]:
all_sentence_gender_df.head()

,State,Gender,Sentence,Percentage_Female_Judges,Percentage_White_Judges
0,Nebraska,"Nebraska, Share of female judges: 0.0%, Share ...",Number of judges: 5,0.0,100.0
1,Eastern Oklahoma,"Eastern Oklahoma, Share of female judges: 0.0%...","Number of judges: 4, African American: 0, Indi...",0.0,75.0
2,North Dakota,"North Dakota, Share of female judges: 0.0%, Sh...",Number of judges: 4,0.0,100.0
3,Middle Louisiana,"Middle Louisiana, Share of female judges: 9.0%...",Number of judges: 11,9.0,100.0
4,Western Louisiana,"Western Louisiana, Share of female judges: 9.0...",Number of judges: 11,9.0,100.0

In [346]:
#change the names of some columns in the new jersey, south carolina table
grouped_data_nj_sc = grouped_data_nj_sc.rename(columns={
    'Gender_sentence': 'Gender',
    'Female_Percentage': 'Percentage_Female_Judges',
    'White_Percentage': 'Percentage_White_Judges'
})
grouped_data_nj_sc

,level_0,index,State,Female_Count,Hispanic_Count,African_American_Count,American_Indian_Count,White_Count,Total_Judges,Percentage_Female_Judges,Percentage_White_Judges,Sentence,Gender
0,0,0,New Jersey,12,3,6,0,16,26,46.0,62.0,"Number of judges: 26, African American: 6, His...","New Jersey, Share of female judges: 46.0%, Sha..."
1,1,1,South Carolina,4,0,1,0,12,13,31.0,92.0,"Number of judges: 13, African American: 1, His...","South Carolina, Share of female judges: 31.0%,..."

In [350]:
#And now join the New Jersey South Carolina with the rest.
df41 = pd.DataFrame(grouped_data_nj_sc)
df42 = pd.DataFrame(all_sentence_gender_df)
all_districts_combined_df = pd.concat([df41, df42], ignore_index=True)

In [358]:
selected_columns4 = ['State', 'Gender', 'Sentence', 'Percentage_Female_Judges',	'Percentage_White_Judges']
all_districts_sentence_gender_final_df = all_districts_combined_df[selected_columns4]
all_districts_sentence_gender_final_df.head(15)

,State,Gender,Sentence,Percentage_Female_Judges,Percentage_White_Judges
0,New Jersey,"New Jersey, Share of female judges: 46.0%, Sha...","Number of judges: 26, African American: 6, His...",46.0,62.0
1,South Carolina,"South Carolina, Share of female judges: 31.0%,...","Number of judges: 13, African American: 1, His...",31.0,92.0
2,Nebraska,"Nebraska, Share of female judges: 0.0%, Share ...",Number of judges: 5,0.0,100.0
3,Eastern Oklahoma,"Eastern Oklahoma, Share of female judges: 0.0%...","Number of judges: 4, African American: 0, Indi...",0.0,75.0
4,North Dakota,"North Dakota, Share of female judges: 0.0%, Sh...",Number of judges: 4,0.0,100.0
5,Middle Louisiana,"Middle Louisiana, Share of female judges: 9.0%...",Number of judges: 11,9.0,100.0
6,Western Louisiana,"Western Louisiana, Share of female judges: 9.0...",Number of judges: 11,9.0,100.0
7,Eastern Tennessee,"Eastern Tennessee, Share of female judges: 10....","Number of judges: 10, African American: 1, Ind...",10.0,90.0
8,Eastern Texas,"Eastern Texas, Share of female judges: 10.0%, ...",Number of judges: 10,10.0,100.0
9,Southern Mississippi,"Southern Mississippi, Share of female judges: ...","Number of judges: 10, African American: 2, Ind...",10.0,70.0
10,Western Tennessee,"Western Tennessee, Share of female judges: 11....","Number of judges: 9, African American: 1, Indi...",11.0,89.0
11,Western New York,"Western New York, Share of female judges: 12.0...",Number of judges: 8,12.0,100.0
12,Western Texas,"Western Texas, Share of female judges: 13.0%, ...","Number of judges: 15, African American: 1, Ind...",13.0,47.0
13,Alaska,"Alaska, Share of female judges: 14.0%, Share o...",Number of judges: 7,14.0,100.0
14,Northern Florida,"Northern Florida, Share of female judges: 14.0...",Number of judges: 7,14.0,100.0

In [361]:
all_districts_sentence_gender_final_df = all_districts_sentence_gender_final_df.rename(columns={
    'State': 'Court Name'
})
all_districts_sentence_gender_final_df
#all_districts_sentence_gender_final_df.to_csv('all_districts_info_final.csv', index=False)

,Court Name,Gender,Sentence,Percentage_Female_Judges,Percentage_White_Judges
0,New Jersey,"New Jersey, Share of female judges: 46.0%, Sha...","Number of judges: 26, African American: 6, His...",46.0,62.0
1,South Carolina,"South Carolina, Share of female judges: 31.0%,...","Number of judges: 13, African American: 1, His...",31.0,92.0
2,Nebraska,"Nebraska, Share of female judges: 0.0%, Share ...",Number of judges: 5,0.0,100.0
3,Eastern Oklahoma,"Eastern Oklahoma, Share of female judges: 0.0%...","Number of judges: 4, African American: 0, Indi...",0.0,75.0
4,North Dakota,"North Dakota, Share of female judges: 0.0%, Sh...",Number of judges: 4,0.0,100.0
...,...,...,...,...,...
92,Western South Carolina,No judges,Number of judges: 0,inf,NaN
93,Eastern Illinois all names,No judges,Number of judges: 0,inf,NaN
94,Eastern New Jersey,No judges,Number of judges: 0,inf,NaN
95,Western New Jersey,No judges,Number of judges: 0,inf,NaN
96,New Bern Wilmington NorthCarolina,No judges,Number of judges: 0,inf,NaN

In [377]:
#Now we need to combine all_districts_sentence_gender_final_df with 
file_path = '/Users/laura.kukkonen/Documents/FinalProjectDatabases/FINAL_final_merge/All_district_court_names_and_links.csv'
links_districts_df = pd.read_csv(file_path)
links_districts_df

FileNotFoundError: [Errno 2] No such file or directory: '/Users/laura.kukkonen/Documents/FinalProjectDatabases/FINAL_final_merge/All_district_court_names_and_links.csv'

In [366]:
#We have to do some tricks because our district names are different
def standardize_court_name(name):
    name_parts = name.split(' ')
    name_parts.sort()
    return ' '.join(name_parts)
links_districts_df['Standardized_Court_Name'] = links_districts_df['Court Name'].apply(standardize_court_name)
all_districts_sentence_gender_final_df['Standardized_Court_Name'] = all_districts_sentence_gender_final_df['Court Name'].apply(standardize_court_name)
again_merged_df = pd.merge(links_districts_df, all_districts_sentence_gender_final_df, on='Standardized_Court_Name', how='outer')
again_merged_df.head(50)
#again_merged_df.to_csv('everything_links_all_court_names.csv', index=False)

In [369]:
#And create a csv that has the court name options
selected_columns5 = ['Court Name_x', 'Court Name_y', 'Gender', 'Sentence', 'Percentage_Female_Judges', 'Percentage_White_Judges', 'Court Website']
all_districts_everything_links_df = again_merged_df[selected_columns5]
all_districts_everything_links_df.head(15)
#all_districts_everything_links_df.to_csv('everything_links_one_court_name.csv', index=False)

In [330]:
grouped_data_nj_sc['Female_Percentage'] = round((grouped_data_nj_sc['Female_Count'] / grouped_data_nj_sc['Total_Judges']) * 100)
grouped_data_nj_sc['White_Percentage'] = round((grouped_data_nj_sc['White_Count'] / grouped_data_nj_sc['Total_Judges']) * 100)
grouped_data_nj_sc

,Female_Count,Hispanic_Count,African_American_Count,American_Indian_Count,White_Count,Total_Judges,Female_Percentage,White_Percentage,Sentence
State,,,,,,,,,
New Jersey,12,3,6,0,16,26,46.0,62.0,"Number of judges: 26, African American: 6, His..."
South Carolina,4,0,1,0,12,13,31.0,92.0,"Number of judges: 13, African American: 1, His..."